LoadModule unixd_module          modules/mod_unixd.so
LoadModule authn_core_module     modules/mod_authn_core.so
LoadModule authz_core_module     modules/mod_authz_core.so
LoadModule authz_user_module     modules/mod_authz_user.so
LoadModule auth_basic_module     modules/mod_auth_basic.so
LoadModule log_config_module     modules/mod_log_config.so
LoadModule autoindex_module      modules/mod_autoindex.so
LoadModule plugauth_module       MODULE_SRC_ROOT/mod_authn_plugauth.so

Listen 8081
DocumentRoot MODULE_SRC_ROOT/httpd/root
PlugAuthURL http://foo/bar/baz

<Location />
  <RequireAll>
    Require all granted
  </RequireAll>
</Location>

<Location "/private">
  AuthType Basic
  AuthName "My Server"
  AuthBasicProvider plugauth
  Require valid-user
</Location>

<Directory MODULE_SRC_ROOT/httpd/root>
  Options +Indexes
  IndexOptions FancyIndexing FoldersFirst SuppressIcon
</Directory>

PidFile MODULE_SRC_ROOT/httpd/var/run/apache.pid
ErrorLog MODULE_SRC_ROOT/httpd/var/log/apache.error.log
LogFormat "%h %l %u %t \"%r\" %>s %b" common
CustomLog MODULE_SRC_ROOT/httpd/var/log/apache.access.log common
